* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}


.her_div {
    width: 34rem;
    height: 65rem;
    border: 8px solid lighten(#1a1a1a, 2);
    border-radius: 30px;
    border-top: 60px solid lighten(#1a1a1a, 2);
    border-bottom: 80px solid lighten(#1a1a1a, 2);
    background-image: url(./img/Wallpers/wallper_1.jpg);
    background-size: 100% 120%;
    background-position-y: 30%;
    background-repeat: no-repeat;
    div {
        &:last-child {
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
            border: 2px inset black;
            background: linear-gradient(90deg, darken(#1a1a1a, 5), darken(#1a1a1a, 1));
            margin-top: 162%;
            margin-left: 43%;
            transition: 0.2s;
            cursor: pointer;
            &:active {
                background: darken(#1a1a1a, 5);
            }
        }
    }

    .time_div {
        position: absolute;
        margin-top: 3rem;
        margin-left: 4rem;
        width: 25rem;
        height: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        font-size: 8rem;
        text-shadow: 0px 0px 20px whitesmoke;
    }

    .app_div {
        position: absolute;
        width: 32.4rem;
        height: 33rem;
        margin-top: 18rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border: 1px solid red;
    }
}